# Submission I (NLP Project)

* Nama : Irfan Dino
* Alamat : Pekanbaru, Riau.

In [ ]:
import pandas as pd
data = pd.read_csv('/content/sample_data/tweets.csv')
data.head()

   id keyword  ...                                               text target
0   0  ablaze  ...  Communal violence in Bhainsa, Telangana. "Ston...      1
1   1  ablaze  ...  Telangana: Section 144 has been imposed in Bha...      1
2   2  ablaze  ...  Arsonist sets cars ablaze at dealership https:...      1
3   3  ablaze  ...  Arsonist sets cars ablaze at dealership https:...      1
4   4  ablaze  ...  "Lord Jesus, your love brings freedom and pard...      0

[5 rows x 5 columns]

In [ ]:
list = ['id',	'keyword',	'location']
data1 = data.drop((list), axis=1)
data1

                                                    text  target
0      Communal violence in Bhainsa, Telangana. "Ston...       1
1      Telangana: Section 144 has been imposed in Bha...       1
2      Arsonist sets cars ablaze at dealership https:...       1
3      Arsonist sets cars ablaze at dealership https:...       1
4      "Lord Jesus, your love brings freedom and pard...       0
...                                                  ...     ...
11365  Media should have warned us well in advance. T...       0
11366  i feel directly attacked 💀 i consider moonbin ...       0
11367  i feel directly attacked 💀 i consider moonbin ...       0
11368  ok who remember "outcast" nd the "dora" au?? T...       0
11369     Jake Corway wrecked while running 14th at IRP.       1

[11370 rows x 2 columns]

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11370 entries, 0 to 11369
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    11370 non-null  object
 1   target  11370 non-null  int64
dtypes: int64(1), object(1)
memory usage: 177.8+ KB

In [ ]:
category = pd.get_dummies(data1['target']).rename(columns=lambda x:'star_'+str(x))
new_data = pd.concat([data1, category], axis=1)
new_data = new_data.drop(columns='target')
new_data

                                                    text  star_0  star_1
0      Communal violence in Bhainsa, Telangana. "Ston...       0       1
1      Telangana: Section 144 has been imposed in Bha...       0       1
2      Arsonist sets cars ablaze at dealership https:...       0       1
3      Arsonist sets cars ablaze at dealership https:...       0       1
4      "Lord Jesus, your love brings freedom and pard...       1       0
...                                                  ...     ...     ...
11365  Media should have warned us well in advance. T...       1       0
11366  i feel directly attacked 💀 i consider moonbin ...       1       0
11367  i feel directly attacked 💀 i consider moonbin ...       1       0
11368  ok who remember "outcast" nd the "dora" au?? T...       1       0
11369     Jake Corway wrecked while running 14th at IRP.       0       1

[11370 rows x 3 columns]

In [ ]:
new_dat = new_data.rename({'text':'tweet','star_0': 'no_disaster',	'star_1':'disaster'}, axis=1)
new_dat

                                                   tweet  no_disaster  disaster
0      Communal violence in Bhainsa, Telangana. "Ston...            0         1
1      Telangana: Section 144 has been imposed in Bha...            0         1
2      Arsonist sets cars ablaze at dealership https:...            0         1
3      Arsonist sets cars ablaze at dealership https:...            0         1
4      "Lord Jesus, your love brings freedom and pard...            1         0
...                                                  ...          ...       ...
11365  Media should have warned us well in advance. T...            1         0
11366  i feel directly attacked 💀 i consider moonbin ...            1         0
11367  i feel directly attacked 💀 i consider moonbin ...            1         0
11368  ok who remember "outcast" nd the "dora" au?? T...            1         0
11369     Jake Corway wrecked while running 14th at IRP.            0         1

[11370 rows x 3 columns]

In [ ]:
from nltk.stem.api import StemmerI
import re
import string
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

def remove_URL(tweet):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'', tweet)

def remove_punct(tweet):
    translator = str.maketrans('', '', string.punctuation)
    return tweet.translate(translator)

stop = set(stopwords.words('english'))
def remove_stopwords(tweet):
    filtered_words = [word.lower() for word in tweet.split() if word.lower() not in stop]
    return ' '.join(filtered_words)

stemmer =  PorterStemmer()
def remove_stem(tweet):
    stemmered_word = [stemmer.stem(word) for word in tweet.split()]
    return ' '.join(stemmered_word)

lemmatizer = WordNetLemmatizer()
def remove_lemmatizer(tweet):
    lemmatizered_word = [lemmatizer.lemmatize(word) for word in tweet.split()]
    return ' '.join(lemmatizered_word)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
new_dat['tweet'] = new_dat.tweet.map(remove_URL)
new_dat['tweet'] = new_dat.tweet.map(remove_punct)
new_dat['tweet'] = new_dat.tweet.map(remove_stopwords)
new_dat['tweet'] = new_dat.tweet.map(remove_stem)
new_dat['tweet'] = new_dat.tweet.map(remove_lemmatizer)

In [ ]:
new_dat.tweet

0        commun violenc bhainsa telangana stone pelt mu...
1        telangana section 144 impos bhainsa januari 13...
2                        arsonist set car ablaz dealership
3                        arsonist set car ablaz dealership
4        lord jesu love bring freedom pardon fill holi ...
                               ...
11365    medium warn u well advanc wreck whole night re...
11366    feel directli attack 💀 consid moonbin amp jinj...
11367    feel directli attack 💀 consid moonbin amp jinj...
11368    ok rememb outcast nd dora au au wreck nerv nd ...
11369                       jake corway wreck run 14th irp
Name: tweet, Length: 11370, dtype: object

In [ ]:
from collections import Counter
def counter_word(tweet_col):
    count = Counter()
    for tweet in tweet_col.values:
        for word in tweet.split():
            count[word] += 1
    return count

counter = counter_word(new_dat.tweet)

In [ ]:
num_unique = len(counter)

In [ ]:
text = new_dat['tweet']
target = new_dat[['no_disaster', 'disaster']]

In [ ]:
from sklearn.model_selection import train_test_split
train_text, val_text, train_target, val_target = train_test_split(text, target, test_size=0.2)

In [ ]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

token = Tokenizer(num_words=num_unique, oov_token='x')
token.fit_on_texts(train_text)
token.fit_on_texts(val_text)

train_seq = token.texts_to_sequences(train_text)
val_seq = token.texts_to_sequences(val_text)

train_pad = pad_sequences(train_seq)
val_pad = pad_sequences(val_seq)

In [ ]:
model = tf.keras.Sequential([
        tf.keras.layers.Embedding(input_dim=num_unique, output_dim=16),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64, dropout=0.2)),
        tf.keras.layers.Flatten(),
        tf.keras.layers.Dense(128, activation='relu'),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(64, activation='relu'),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(32, activation='relu'),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(2, activation='softmax')
])

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('accuracy')>0.9):
      print("\nAkurasi telah mencapai >90%!")
      self.model.stop_training = True
callbacks = myCallback()

num_epochs=20
history = model.fit(train_pad, train_target, epochs=num_epochs,
                    validation_data=(val_pad, val_target), verbose=2)

Epoch 1/20
285/285 - 8s - loss: 0.1040 - accuracy: 0.9670 - val_loss: 0.3538 - val_accuracy: 0.8712 - 8s/epoch - 29ms/step
Epoch 2/20
285/285 - 8s - loss: 0.0492 - accuracy: 0.9843 - val_loss: 0.5004 - val_accuracy: 0.8707 - 8s/epoch - 29ms/step
Epoch 3/20
285/285 - 8s - loss: 0.0313 - accuracy: 0.9916 - val_loss: 0.5093 - val_accuracy: 0.8698 - 8s/epoch - 29ms/step
Epoch 4/20
285/285 - 8s - loss: 0.0182 - accuracy: 0.9943 - val_loss: 0.6952 - val_accuracy: 0.8747 - 8s/epoch - 30ms/step
Epoch 5/20
285/285 - 8s - loss: 0.0144 - accuracy: 0.9965 - val_loss: 0.8123 - val_accuracy: 0.8628 - 8s/epoch - 30ms/step
Epoch 6/20
285/285 - 8s - loss: 0.0146 - accuracy: 0.9956 - val_loss: 0.7133 - val_accuracy: 0.8769 - 8s/epoch - 29ms/step
Epoch 7/20
285/285 - 8s - loss: 0.0103 - accuracy: 0.9973 - val_loss: 1.1636 - val_accuracy: 0.8500 - 8s/epoch - 30ms/step
Epoch 8/20
285/285 - 8s - loss: 0.0111 - accuracy: 0.9971 - val_loss: 0.6675 - val_accuracy: 0.8672 - 8s/epoch - 30ms/step
Epoch 9/20
285/285 - 8s - loss: 0.0100 - accuracy: 0.9979 - val_loss: 0.6181 - val_accuracy: 0.8540 - 8s/epoch - 29ms/step
Epoch 10/20
285/285 - 8s - loss: 0.0074 - accuracy: 0.9977 - val_loss: 1.1952 - val_accuracy: 0.8672 - 8s/epoch - 29ms/step
Epoch 11/20
285/285 - 8s - loss: 0.0114 - accuracy: 0.9977 - val_loss: 0.7744 - val_accuracy: 0.8580 - 8s/epoch - 30ms/step
Epoch 12/20
285/285 - 8s - loss: 0.0071 - accuracy: 0.9981 - val_loss: 0.8791 - val_accuracy: 0.8690 - 8s/epoch - 29ms/step
Epoch 13/20
285/285 - 8s - loss: 0.0043 - accuracy: 0.9985 - val_loss: 1.1226 - val_accuracy: 0.8725 - 8s/epoch - 29ms/step
Epoch 14/20
285/285 - 8s - loss: 0.0053 - accuracy: 0.9982 - val_loss: 0.9315 - val_accuracy: 0.8646 - 8s/epoch - 30ms/step
Epoch 15/20
285/285 - 8s - loss: 0.0023 - accuracy: 0.9986 - val_loss: 1.2537 - val_accuracy: 0.8641 - 8s/epoch - 29ms/step
Epoch 16/20
285/285 - 8s - loss: 0.0023 - accuracy: 0.9988 - val_loss: 1.3069 - val_accuracy: 0.8668 - 8s/epoch - 29ms/step
Epoch 17/20
285/285 - 8s - loss: 0.0196 - accuracy: 0.9956 - val_loss: 0.9575 - val_accuracy: 0.8386 - 8s/epoch - 29ms/step
Epoch 18/20
285/285 - 8s - loss: 0.0118 - accuracy: 0.9966 - val_loss: 0.9243 - val_accuracy: 0.8659 - 8s/epoch - 30ms/step
Epoch 19/20
285/285 - 8s - loss: 0.0048 - accuracy: 0.9977 - val_loss: 1.1775 - val_accuracy: 0.8712 - 8s/epoch - 30ms/step
Epoch 20/20
285/285 - 8s - loss: 0.0044 - accuracy: 0.9985 - val_loss: 0.9508 - val_accuracy: 0.8536 - 8s/epoch - 29ms/step